<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<!-- 1st Card -->

<div class="row">
  <div class="col-12 personal fadeIn">
    <div class="card main-card mb-3">
      <div class="card-header text-center">
        <h4 class="text-center">Personal Data</h4>
      </div>

      <div class="card-body" [formGroup]="form">
        <div class="row">
          <div class="col-12 mb-3 form-group">
            <div class="d-flex flex-column flex-xl-row">
              <label class="col-xl-2 my-auto slideInLeft" for="name">Name:</label>
              <input type="text" class="form-control col-xl-10 col-12 slideInRight" id="name" formControlName="name">
            </div>
            <small class="col-10 text-danger" *ngIf="form.get('name').touched && form.get('name').invalid">Name should be alphabetic and longer than 2 characters</small>
          </div>
          <div class="col-12 mb-3 form-group">
            <div class="d-flex flex-column flex-xl-row">
              <label class="col-xl-2 my-auto slideInLeft" for="age">Age:</label>
              <input type="text" class="form-control col-xl-10 col-12 slideInRight" id="age" formControlName="age">
            </div>
            <small class="col-10 text-danger" *ngIf="form.get('age').invalid && form.get('age').errors.nan && form.get('age').dirty">Age should be numeric</small>
          </div>
          <div class="col-12 mb-3 form-group">
            <div class="d-flex flex-column flex-xl-row">
              <label class="col-xl-2 my-auto slideInLeft" for="phone">Phone:</label>
              <input type="text" class="form-control col-xl-10 col-12 slideInRight" id="phone" formControlName="phone" (change) = "onPhone($event)">
            </div>
            <small class="col-10 text-muted" *ngIf="form.get('phone').invalid && form.get('phone').touched && form.get('phone').errors.nan">e.g. 3242129</small>
          </div>
          <div class="col-12 mb-3 form-group">
            <div class="d-flex flex-column flex-xl-row">
              <label class="col-xl-2 my-auto slideInLeft" for="email">Email:</label>
              <input type="email" class="form-control col-xl-10 col-12 slideInRight" id="email" formControlName="email">
            </div>
            <small class="col-10 text-muted">e.g. example@email.com</small>
          </div>
        </div>
        
      </div>
    </div>
  </div>


  <!-- 2nd Card -->



  <div class="col-12 slideInUp">
    

    <div class="card main-card mb-3">
      <div class="card-body">

        
        <div class="row">
          <div class="col-12 col-lg-6">

            <div class="col-12 mb-5">
              <div class="row mb-3">
                <div class="col-6 my-auto">
                  Loan Amount
                </div>
                <div class="col-6 input-group">
                  <input type="number" class="form-control" id="loanAmount" [(ngModel)]="loanAmountValue">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="decrementLoanAmountValue()"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                    <button class="btn btn-outline-secondary" (click)="incrementLoanAmountValue()"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <ng5-slider [(value)]="loanAmountValue" [options]="loanAmountOptions" (valueChange) = "onLoanSliderChange()"></ng5-slider>
                </div>
              </div>
            </div>
  
            <div class="col-12 mb-5">
              <div class="row mb-3">
                <div class="col-6 my-auto">
                  Interest Rate
                </div>
                <div class="col-6 input-group">
                  <input type="number" class="form-control" id="interestRate" [(ngModel)]="interestRateValue">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary text-light" disabled style="opacity: 1;">%</button>
                    <button class="btn btn-outline-secondary" (click)="decrementInterestRateValue()"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                    <button class="btn btn-outline-secondary" (click)="incrementInterestRateValue()"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <ng5-slider [(value)]="interestRateValue" [options]="interestRateOptions" (valueChange) = "onInterestSliderChange()"></ng5-slider>
                </div>
              </div>
            </div>
  
            <div class="col-12 mb-5 border-left">
              <div class="row mb-3">
                <div class="col-6 my-auto d-flex">
                  <span class="ml-0">Loan Term</span>
                  <div class="form-inline ml-auto">
                    <div class="form-check mr-auto pr-1">
                      <input type="radio" class="form-check-input" name="loanTermRadios" id="loanTermRadio1" value="month" (change) = "onRadioChange($event)" checked>
                      <label for="loanTermRadio1" class="form-check-label">Month</label>
                    </div>
                    <div class="form-check mx-auto">
                      <input type="radio" class="form-check-input" name="loanTermRadios" id="loanTermRadio2" value="year" (change) = "onRadioChange($event)">
                      <label for="loanTermRadio2" class="form-check-label">Year</label>
                    </div>
                  </div>
                </div>
                <div class="col-6 input-group">
                  <input type="number" class="form-control" id="loanTerm" [(ngModel)]="loanTermValue">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="decrementLoanTermValue()"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                    <button class="btn btn-outline-secondary" (click)="incrementLoanTermValue()"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <ng5-slider [(value)]="loanTermValue" [options]="loanTermOptions" (valueChange) = "onLoanTermSliderChange()"></ng5-slider>
                </div>
              </div>
            </div>

          </div>


          <div class="col-12 col-lg-6">
            <div class="row mb-3">
              <div class="col-12">
                <h4>Break-up of Total Payment</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div style="display: block">
                  <canvas baseChart
                    height="220"
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    [colors]="doughnutChartColors"
                    >
                  </canvas>
                </div>
              </div>
              <div class="col-4">
                <div class="row flex-column d-flex mt-5">
                  <div class="d-flex mx-auto">
                    <div class="rounded-circle mr-2" style="height: 25px; width: 25px; background: blue;"></div>
                    <span class="text-custom mb-2" style="font-size: 18px;"> Principal Amount</span>
                  </div>
                  <span class="text-center mb-4" style="font-size: 18px;">
                    ${{ loanAmountValue }}
                  </span>
                </div>
                <div class="row flex-column d-flex">
                  <div class="d-flex mx-auto">
                    <div class="rounded-circle mr-2" style="height: 25px; width: 25px; background: orange"></div>
                    <span class="text-custom mb-2" style="font-size: 18px;"> Total Interest</span>
                  </div>
                  <span class="text-center mb-4" style="font-size: 18px;">
                    ${{ interestRateValue*loanAmountValue/100 }}
                  </span>
                </div>
                <div class="row flex-column d-flex">
                  <div class="text-center text-custom" style="font-size: 18px;">Total Payment</div>
                  <div class="text-center text-custom mb-2" style="font-size: 18px;">(Principal + Interest)</div>
                  <span class="text-center mb-4" style="font-size: 18px;">
                    ${{ interestRateValue*loanAmountValue/100 + loanAmountValue }}
                  </span>
                </div>
              </div>
            </div>
            <div class="row d-flex flex-column text-center mt-3">
              <div class="h4">Your Monthly Payment</div>
              <div class="h3">${{ (interestRateValue*loanAmountValue/100 + loanAmountValue)/loanTermValue | number:'1.0-0' }}</div>
            </div>
          </div>

        </div>
        

      </div>
    </div>
  </div>

  <!-- DATE -->

  <div #dateDiv  class="col-12 personal" (window:scroll) = "handleScrollEvent(dateDiv)">
    <div class="card main-card mb-3">
      <div class="card-body d-flex input-group">
        <h4 class="ml-auto mr-1">Monthly payments starting from </h4>
        <input type="date" class="form-control col-lg-4 mr-auto ml-1" [valueAsDate]="date" (change) = "onDateChange($event)">
      </div>
    </div>
  </div>


  <!-- Amortization Chart -->

  <div id="chartDiv" #chartDiv class="col-12" (window:scroll) = "handleChartScroll(chartDiv)">
    <div class="card main-card mb-3">
      <div class="card-header mb-3">
        <h4 class="text-center">Amortization Chart</h4>
      </div>
      <div class="card-body">
          <div class="d-block">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
          </div>
      </div>
    </div>
  </div>

  <div id="tableDiv" #tableDiv class="col-12 personal" (window:scroll) = "handleTableScroll(tableDiv)">
    <div class="card main-card mb-3">
      <div class="card-header">
        <h4 class="text-center">Amortization Schedule</h4>
      </div>
      <div class="card-body table-card-body">
        <div class="row top-row text-center">
          <div class="col my-auto">
            <h5>Year</h5>
          </div>
          <div class="col my-auto">
            <h5>Payment</h5>
          </div>
          <div class="col my-auto">
            <h5>Principal Paid</h5>
          </div>
          <div class="col my-auto">
            <h5>Interest Paid</h5>
          </div>
          <div class="col my-auto">
            <h5>Balance</h5>
          </div>
        </div>
        
        <div class="row text-center" *ngFor="let balance of balanceData; let i = index" (click)="onTableRow(i)" style="cursor: pointer;">
          <div class="col my-auto">
            <div class="col-12">
                <button class="btn" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                {{ date.getFullYear()+i }}
            </div>
          </div>
          <div class="col my-auto">{{ paymentData[i] }}</div>
          <div class="col my-auto">{{ principalData[i] }}</div>
          <div class="col my-auto">{{ interestData[i] }}</div>
          <div class="col my-auto">{{ balanceData[i] }}</div>

            <div [id]="i" class="col-12" *ngIf="!hidden[i]">
              <div *ngIf="i==0">
                <div *ngFor="let month of months; let k = index" class=" d-flex">
                  
                  <div class="col my-auto">{{ allMonths[date.getMonth()+k] }}</div>
                  <div class="col my-auto">{{ paymentData[i]/(12-date.getMonth()) }}</div>
                  <div class="col my-auto">{{ principalData[i]/(12-date.getMonth()) }}</div>
                  <div class="col my-auto">{{ interestData[i]/(12-date.getMonth()) }}</div>
                  <div class="col my-auto">{{ balanceData[i]/(12-date.getMonth()) }}</div>
  
                </div>

              </div>
              <div *ngIf="i!=0">
                  <div *ngFor="let month of [0,1,2,3,4,5,6,7,8,9,10,11]" class=" d-flex">
                  
                      <div class="col my-auto">{{ allMonths[month] }}</div>
                      <div class="col my-auto">{{ paymentData[i] }}</div>
                      <div class="col my-auto">{{ principalData[i]/12 }}</div>
                      <div class="col my-auto">{{ interestData[i]/12 }}</div>
                      <div class="col my-auto">{{ balanceData[i]/12 }}</div>
    
                  </div>
                
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>

</div>